@font-face
  font-family: mono
  src: url('../fonts/MonaspaceArgon-Regular.woff') format('woff')
  font-weight: 400

@font-face
  font-family: mono
  src: url('../fonts/MonaspaceArgon-Italic.woff') format('woff')
  font-weight: 400
  font-style: italic

@font-face
  font-family: mono
  src: url('../fonts/MonaspaceArgon-Medium.woff') format('woff')
  font-weight: 500

@font-face
  font-family: mono
  src: url('../fonts/MonaspaceArgon-MediumItalic.woff') format('woff')
  font-weight: 500
  font-style: italic

@font-face
  font-family: mono
  src: url('../fonts/MonaspaceArgon-Bold.woff') format('woff')
  font-weight: 700

@font-face
  font-family: mono
  src: url('../fonts/MonaspaceArgon-BoldItalic.woff') format('woff')
  font-weight: 700
  font-style: italic

@font-face
  font-family: mono
  src: url('../fonts/MonaspaceArgon-ExtraBold.woff') format('woff')
  font-weight: 900

@font-face
  font-family: mono
  src: url('../fonts/MonaspaceArgon-ExtraBoldItalic.woff') format('woff')
  font-weight: 900
  font-style: italic

.mono
  font-family: mono
